<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title th:text="#{title.registerSuccessfullPage}">Successfully registered</title>
</head>
<body>
    <div class="languages">
        <a th:href="@{/users?lang=en}">EN</a>
        &nbsp;|&nbsp;
        <a th:href="@{/users?lang=fr}">FR</a>
        &nbsp;|&nbsp;
        <a th:href="@{/users?lang=ru}">RU</a>
    </div>

    <th:block th:include="/_menu"></th:block>

    <h2 th:text="#{h.registerSuccessfullPage}"></h2>

    <div th:if="${flashUser != null}">
        <table>
            <tr>
                <td th:text="#{label.userName}"></td>
                <td th:text="${flashUser.userName}"></td>
            </tr>
            <tr>
                <td th:text="#{label.email}"></td>
                <td th:text="${flashUser.email}"></td>
            </tr>
        </table>
    </div>

</body>
</html>